interactions:
- request:
    body: '{"amount": 1061, "meta": {"state": "new", "participant_id": 2}, "description":
      "janet"}'
    headers: {}
    method: POST
    uri: https://api.balancedpayments.com:443/cards/CC6j2lN0CEuf3wt77J2bQW7r/card_holds
  response:
    body: {string: !!python/unicode "{\n  \"errors\": [\n    {\n      \"status\":
        \"Conflict\",\n      \"category_code\": \"card-not-valid\",\n      \"additional\":
        null,\n      \"status_code\": 409,\n      \"category_type\": \"logical\",\n
        \     \"extras\": {},\n      \"request_id\": \"OHMfbff8b86de4111e4a95a06429171ffad\",\n
        \     \"description\": \"Card has been invalidated. Your request id is OHMfbff8b86de4111e4a95a06429171ffad.\"\n
        \   }\n  ]\n}"}
    headers:
      content-type: [application/json]
    status: {code: 409, message: CONFLICT}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/credits?meta%5Bcontains%5D=exchange_id&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"credits\": [],\n  \"meta\": {\n    \"last\":
        \"/credits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\",\n    \"next\":
        null,\n    \"href\": \"/credits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\",\n
        \   \"limit\": 25,\n    \"offset\": 0,\n    \"previous\": null,\n    \"total\":
        0,\n    \"first\": \"/credits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\n
        \ },\n  \"links\": {}\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
- request:
    body: null
    headers: {}
    method: GET
    uri: https://api.balancedpayments.com:443/debits?meta%5Bcontains%5D=exchange_id&limit=25&offset=0
  response:
    body: {string: !!python/unicode "{\n  \"meta\": {\n    \"last\": \"/debits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\",\n
        \   \"next\": null,\n    \"href\": \"/debits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\",\n
        \   \"limit\": 25,\n    \"offset\": 0,\n    \"previous\": null,\n    \"total\":
        0,\n    \"first\": \"/debits?limit=25&meta%5Bcontains%5D=exchange_id&offset=0\"\n
        \ },\n  \"links\": {},\n  \"debits\": []\n}"}
    headers:
      content-type: [application/json]
    status: {code: 200, message: OK}
version: 1
